@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';}


a {
    text-decoration: none;
    color: #FFFBC4 !important;
    font-weight: 500;
}

a:hover {
    color: #ee6ca3 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

div[data-testid="stExpander"] div[role="button"] p {
    font-size: 2rem;
    font-weight: bold;

}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

